<h1>All Gifs</h1>
<%= link_to "My Favorites", user_favorites_path(current_user) %>
<%= link_to "Back to Main", root_path %>
<% @gifs.each do |gif| %>
<div>
  <%= link_to gif.name, gif_path(gif.id) %>
  <%= gif.image_path %>
  <%= render partial: "favorites/favorite_button", locals: { gif: gif } %>
</div>
<% end %>
