<h1>Favorited Gifs With Category: <%= @category.name %></h1>
<% if session[:admin_id] != nil %>
  <div><%= button_to "Delete Category", category_path(@category), method: :delete %></div>
<% end %>
<div class="container">
  <div class="row">
  <% @gifs.each do |gif| %>
    <div class="col-6">
      <div><%= gif.name %></div>
      <div><img src="<%= gif.image_path %>"></div>
      <div><%= render partial: "favorites/favorite_button", locals: { gif: gif } %></div>
    </div>
  <% end %>
  </div>
</div>
