<h1>Gifs for <%= @category.name %></h1>

<% if session[:admin_id] != nil %>
  <%= button_to "Delete Category", category_path(@category), method: :delete %>
<% end %>
<div class="container">
  <div class="row">
  <% @category.gifs.each do |gif| %>
    <div class="col-6">
      <%= gif.name %>
      <img src="<%= gif.image_path %>"/>
      <%= render partial: "favorites/favorite_button", locals: { gif: gif } %>
    </div>
  <% end %>
  </div>
</div>
